body {
  margin: 20px auto;
  background-color: #220F0D;
  width: 560px;
}

main {
  max-height: 950px;
  font-family: 'Lato', sans-serif;
  color: #220F0D;
  background-color: #E3550D;
  border-radius: 3px;
  box-shadow: 5px 5px 20px #EFA019;
  padding: 5px;
}

h1 {
  text-transform: uppercase;
  font-size: 64px;
  text-align: center;
  font-weight: 300;
}

#form-1 {
  width: 435px;
  border-radius: 0px;
  margin-left: 60px;
  height: 60px;
  display: flex;
  border: 1px solid #9b9b9b;
  border-radius: 2px;
  background-color: #220F0D;
  padding: 0px;
}

input[type=text] {
  flex: 0 0 355px;
  font-size: 24px;
  color: #37404d;
  background: #ffffff;
  box-shadow: inset -1px 1px 2px #cecece;
  padding: 0px;
  border: 0px;
  padding: 5px;

}

.button {
  flex: 0 0 70px;
  text-align: center;
  font-size: 22px;
  color: white;
  padding-top: 14px;
}

.button:hover {
  background-color: #FCCB51;
  color: #E3550D;
}

ul {
  margin: 30px 0px 0px 60px;
  padding: 0px 20px 0px 0px;
  width: 450px;
  max-height: 550px;
  overflow: scroll;
}

li {
  list-style: none;
  font-family: 'Lato', sans-serif;
  font-size: 24px;
  line-height: 46px;
  margin: 0px;
  display: flex;
}

li:hover {
  opacity: .6;
}

.todo-text {
  flex: 0 0 370px;
}

.todo-dashbin {
  flex: 0 0 40px;
  background-image: url("../images/garbage_1.svg");
  background-size: 35px;
  background-repeat: no-repeat;
  background-position: center;
}
.todo-dashbin:hover {
  background-image: url("../images/garbage_up_1.svg");
  background-size: 35px;
  background-repeat: no-repeat;
  background-position: center;
}

.todo-check {
  flex: 0 0 40px;
  background-size: 35px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../images/success_1.svg");
}

.todo-check:hover {
  background-image: url("../images/success_checked_1.svg");
}

.todo-checked {
  flex: 0 0 40px;
  background-size: 35px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../images/success_checked_1.svg");
}

.settings {
  height: 35px;
  width: 35px;
  background-size: 35px;
  background-repeat: no-repeat;
  background-image: url("../images/settings_1.svg");
}
